body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #f4fa9d 50%, #cfcfcf 100%);
}

.container {
  text-align: center;
  background: #b0c188;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

button {
  background: #848781;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

input button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border: 1px solid #decccc;
  border-radius: 5px;
}

button:hover {
  background: #989d93;
}

input:focus button:focus {
  outline: none;
  border-color: #888;
}

#pokemon-info {
  margin-top: 20px;
}

#types {
  margin: 10px 0;
}

#sprite-container img {
  width: 150px;
  height: 150px;
  transition: transform 0.3s ease;
}

#sprite-container img:hover {
  transform: scale(1.1);
}

.pokemon-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-name-id .pokemon-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.pokemon-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.pokemon-name-id span .pokemon-size span {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.pokemon-table td {
  text-align: center;
}

.pokemon-table th .pokemon-table td {
  padding: 10px;
  border: 1px solid #d4a0a0;
}

.pokemon-table th {
  background: #7a7e76;
  color: #fff;
}
